{% extends "layout.html" %}
{% block body %}
  <div>
    <p>You have {{count}} records - <a href="random">see a random record</a> - <a href=".">see all records.</a></p>
    <p>All records in the database are shown below:</p>
  <div>

    <table class="table table-condensed table-striped">
      <thead>
        <th>Name</th>
        <th>URL</th>
      </thead>
      <tbody>
        {% for record in records %}
        <tr>
          <td>{{record[0]}}</td>
          <td>{{record[1]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}
